<form [formGroup]="registerForm" *ngIf="registerForm">
    <h1>Registeer</h1>
    <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Email is verplicht
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            Geen geldig emailadres
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Wachtwoord:</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Wachtwoord is verplicht
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
            Wachtwoord moet minimaal 6 tekens lang zijn
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Herhaal wachtwoord:</mat-label>
        <input matInput type="password" formControlName="passwordRepeated" required />
        <mat-error *ngIf="registerForm.get('passwordRepeated')?.hasError('required')">
            Wachtwoord is verplicht
        </mat-error>
        <mat-error *ngIf="registerForm.get('passwordRepeated')?.hasError('minlength')">
            Wachtwoord moet minimaal 6 tekens lang zijn
        </mat-error>
    </mat-form-field>
    
    <p class="error" *ngIf="registerForm.get('passwordRepeated')?.touched && registerForm.hasError('passwordsMismatch')">
        Wachtwoorden komen niet overeen
    </p>

    <button mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="register()">
        Registreer
    </button>
</form>