#=== Node.js ===
node_modules/
dist/
.env

#=== Visual Studio /.NET ===
bin/
obj/
.vs/
*.angular

# Node/Angular
StockManagementUI/node_modules/
StockManagementUI/dist/
StockManagementUI/.env
StockManagementUI/*.angular

# .NET/Visual Studio
StockManagement/StockManagement/bin/*
StockManagement/StockManagement/obj/*
StockManagement/.vs
*.user
*.suo

# General
.DS_Store
Thumbs.db
